<!DOCTYPE html>
<html>
  <head>
    <title>u-uwucord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Catamaran&display=swap", media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
        window.wogoURL = "<%= image_url('wogo.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
