<!DOCTYPE html>
<html>
  <head>
    <title>u-uwucord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://kit.fontawesome.com/c7cf407a11.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Catamaran&display=swap", media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.pinkWogo = "<%= image_url('pink_wogo.png') %>";
      window.whiteWogo = "<%= image_url('white_wogo.png') %>";
      window.tutStart = "<%= image_url('tutorial-start.png')%>";
      window.leftArrow = "<%=image_url('arrow.png')%>";
      window.tutEnd = "<%= image_url('tutorial-end.png')%>";
      window.splashOwo = "<%= image_url('splash-owo.png') %>";
      window.splashUwu = "<%= image_url('splash-uwu.png') %>";
      window.splashFloatBomb = "<%= image_url('splash-float-bomb.png') %>";
      window.splashFloatCoin = "<%= image_url('splash-float-coin.svg') %>";
      window.splashFloatDisk = "<%= image_url('splash-float-disk.svg') %>";
      window.splashFooterBackground = "<%= image_url('splash-footer-background.svg') %>";
      window.splashHeaderGithubLogo = "<%= image_url('splash-header-github-logo.svg') %>";
      window.splashHeaderLabel = "<%= image_url('splash-header-label.svg') %>";
      window.splashHeaderLogo = "<%= image_url('splash-header-logo.svg') %>";
      window.splashImagesCd = "<%= image_url('splash-images-cd.svg') %>";
      window.splashImagesCoinbox = "<%= image_url('splash-images-coinbox.svg') %>";
      window.splashImagesController = "<%= image_url('splash-images-controller.svg') %>";
      window.splashImagesHeadset = "<%= image_url('splash-images-headset.svg') %>";
      window.splashImagesLaptop = "<%= image_url('splash-images-laptop.svg') %>";
      window.splashImagesMobile1 = "<%= image_url('splash-images-mobile1.svg') %>";
      window.splashImagesMobile2 = "<%= image_url('splash-images-mobile2.svg') %>";
      window.splashImagesMonitor = "<%= image_url('splash-images-monitor.svg') %>";
      window.splashImagesPotion = "<%= image_url('splash-images-potion.svg') %>";
      window.splashShapesCircle = "<%= image_url('splash-shapes-circle.svg') %>";
      window.splashShapesCross = "<%= image_url('splash-shapes-cross.svg') %>";
      window.splashShapesDot = "<%= image_url('splash-shapes-dot.png') %>";
      window.splashShapesSquare = "<%= image_url('splash-shapes-square.svg') %>";
      window.splashShapesTriangle = "<%= image_url('splash-shapes-triangle.svg') %>";
      window.serverKeyInvite = "<%= image_url('server-key-invite.svg') %>";
      window.serverChannelBarInvite = "<%= image_url('server-channel-bar-invite.svg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
